@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1617242612916'); /* IE9 */
  src: url('iconfont.eot?t=1617242612916#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABnAAAAJIAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gQQBNgIkAwgLBgAEIAWEbQcwG6oFEQWMyX4kZCc1V9L/dkAyRIkz8fD8HL9ztzf5iHpSky66H8FDxEuyVNQq5OUDM/7WdAz3RkWoLtnz1LP8j/zvjjSs8ziNUgiJkPjEvdO/AgpkvvMuskzX3jSpCzAOpMD2xCiyIom8YewCl/CYQBcjTBMrV2/cqZZYqwJx8dyZY+pcRJJYvhbKmoNJPFKos9tZeBh+P/6aHjWZImc1bT296qSlPwq7KG/axkGfECWg4wVyTEMidtZmNssFY+e6ZJIx7Ks++FG0rW8TezUL9tdZtd3AMCi5J6kru1XhDCTGMw6TRwXJu1nzr/V4+abzbVd3Xzev9qbiJvZ8MW1mdql5PGPOjKHNUN85ZN511Tl7xmNYsWL2iiFLGiiBv2MpaNu8M1sg+Lqn23+k58L/ddcE3t1d/y8MtW3Sz0e9V2/wd6Q9+5Iut6xZUqW1hcw4+VlbuuiCFg708WGsof+tFEKt/w35KsNTV67WpZBMrGkodDUTpdoSnF1MNRzvqi+yF6kDU7wBQi8fZHp4i1wvXzKxfigM8EepV+zRxe7oe2FXEyKIFYSS0YB6QdDTaB07i6j+iO6WJWXlIeeKtIY4tFVTzA84Is2xZb27jtmCpanAATyHOU8w0xRRc+WZ576ubd2bKj2VjbACQRJDBlBeQKBNRtYfzkTp80fIuckkaumpiV4hsgqTg1al6UEOmrFXz728srpzOoxZwCKTAhzAPJRlEzDXz4uQxip+RGrWq+1Btq+mWl9Xvu4IdGEZs7Bn5coTMhg5bjYA') format('woff2'),
  url('iconfont.woff?t=1617242612916') format('woff'),
  url('iconfont.ttf?t=1617242612916') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1617242612916#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e605";
}

